@media (min-width: 768px) {
  .login-pf-page .card-pf {
    max-width: 38%;
    margin-inline: auto;
    color: #aaa;
  }
}

.login-pf-page .login-pf-header h1 {
  font-weight: bold;
}

.pf-c-form__label-text {
  color: #aaa;
}

.login-pf body {
  background: #030303;
}

body {
  color: #000;
}

.card-pf {
  background: #000;
}

.pf-c-input-group {
  --pf-c-input-group--BackgroundColor: #fff;
}

.pf-c-form-control {
  --pf-c-form-control--BorderTopColor: #0a0917;
  --pf-c-form-control--BorderRightColor: #0a0917;
  --pf-c-form-control--BorderBottomColor: #0a0917;
  --pf-c-form-control--BorderLeftColor: #0a0917;
  --pf-c-form-control--BackgroundColor: #0a0917;
  --pf-c-form-control--Height: 49px;
}

.pf-c-form-control {
  --pf-c-form-control--hover--BorderBottomColor: #336841;
}

.pf-c-form-control {
  color: #aaaaaa;
}

.pf-c-button.pf-m-primary:hover {
  --pf-c-button--m-primary--Color: #000;
  --pf-c-button--m-primary--BackgroundColor: #b5b5b5;
}

.pf-c-button.pf-m-control {
  background-color: #000;
  border: unset;
}

.pf-c-button.pf-m-control::after {
  border-color: #0a0917;
}

.pf-c-button.pf-m-primary {
  color: #000;
  background-color: #fff;
}

.pf-c-button:hover {
  background-color: #b5b5b5 ;
}