name: Regular base image update check
on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

env:
  DOCKER_HUB_ORGANIZATION: ${{ vars.DOCKER_HUB_ORGANIZATION }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Check if update available
        id: check
        uses: giggio/docker-image-update-checker@v2
        with:
          base-image: quay.io/keycloak/keycloak:latest
          image: ${{ env.DOCKER_HUB_ORGANIZATION }}/obp-keycloak:latest
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'build_container_develop_branch.yml',
              ref: 'refs/heads/develop'
            });
        if: steps.check.outputs.needs-updating == 'true'

