name: Regular base image update check
on:
  schedule:
    - cron: "0 5 * * *"
  workflow_dispatch:

env:
  DOCKER_HUB_ORGANIZATION: ${{ vars.DOCKER_HUB_ORGANIZATION }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Check if update available
        id: check
        uses: giggio/docker-image-update-checker@v2
        with:
          base-image: quay.io/keycloak/keycloak:latest
          image: ${{ env.DOCKER_HUB_ORGANIZATION }}/obp-keycloak:latest
      - name: Trigger build workflow
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'build_container_main_branch_themed.yml',
              ref: 'refs/heads/main'
            });
        if: steps.check.outputs.needs-updating == 'true'
